{% extends 'base.html.twig' %}

{% block title %}Tie index{% endblock %}

{% block body %}
    <h1>Tie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Color</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tie in ties %}
            <tr>
                <td>{{ tie.id }}</td>
                <td>{{ tie.name }}</td>
                <td>{{ tie.color }}</td>
                <td>{{ tie.type }}</td>
                <td>
                    <a href="{{ path('tie_show', {'id': tie.id}) }}">show</a>
                    <a href="{{ path('tie_edit', {'id': tie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tie_new') }}">Create new</a>
{% endblock %}
